<h2 class="middle">Round <%= @round.id %></h2>
<div class="fc-container">
	<form class-"fc-form" method="get" action="/guesses/new">
		<p class="middle"><%= @current_guess.correct_guess.to_s.capitalize %></p>
		<p class="middle">Question: <%= @card.question%></p>
		<p class="middle">Answer: <%= @card.answer%></p>
		<input type="hidden" name="guess_id" value="<%= @current_guess.id %>">

		<input class="play-button success middle-horizontal"type="submit" value="Next">

	</form>
</div>
